SENS_BASE_URL=https://clientportal.jse.co.za/communication/sens-announcements
SENS_PDF_BASE_URL=https://senspdf.jse.co.za/
SENS_REQUEST_TIMEOUT=30
SENS_DOWNLOAD_RETRIES=3
SENS_DOWNLOAD_BACKOFF_SECONDS=1.0
SENS_REQUEST_USER_AGENT=jse-sens-bot/1.0 (+local-staging)
SENS_ALLOWED_PDF_HOSTS=senspdf.jse.co.za
SENS_SCRAPE_INTERVAL_MINUTES=5
SENS_DATA_DIR=./mvp_sens/data
SENS_PDF_DIR=./mvp_sens/data/pdfs
SENS_PARSED_TEXT_DIR=./mvp_sens/data/parsed
SENS_DB_PATH=./mvp_sens/db/sens.db
SENS_SCHEMA_PATH=./mvp_sens/db/schema.sql
